In [14]:
import pandas
import os

In [15]:
df = pandas.read_csv("presets_ver106.csv")
df = df.drop(columns=["pack","name","color","ver"])

In [16]:
batch_num = 18

In [17]:
to_convert = pandas.read_csv("./out2/"+str(batch_num)+".csv")

In [18]:
def un_normalize(source_df, target, stdev=False):
    target.columns = list(source_df.columns)
    if stdev:
        u_normalized = (target*(source_df.std())+source_df.mean())
    else:
        u_normalized = ( ((target+1)*(source_df.max() - source_df.min()) )/2)+source_df.min()
    return u_normalized.round(0).astype(int)

In [19]:
result = un_normalize(df, to_convert)

In [20]:
result

,0,45,1,2,3,4,5,6,7,8,...,44,67,68,58,46,47,48,49,69,70
0,2,81,3,99,98,1,95,1,1,95,...,79,1,1,1,5,3,88,82,1,1
1,2,71,3,104,99,1,91,1,1,91,...,68,1,1,1,4,3,92,69,1,1
2,2,70,3,98,97,1,92,1,1,88,...,70,1,1,1,4,3,84,69,1,1
3,2,78,3,99,99,1,93,1,1,94,...,76,1,1,1,5,3,84,78,1,1
4,2,81,3,101,98,1,92,1,1,95,...,77,1,1,1,5,3,88,80,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,2,77,3,100,98,1,93,1,1,95,...,72,1,1,1,5,3,86,78,1,1
60,2,77,3,100,99,1,94,1,1,92,...,76,1,1,1,4,3,88,76,1,1
61,2,70,3,102,97,1,90,1,1,92,...,67,1,1,1,4,3,85,70,1,1
62,2,81,3,100,100,1,93,1,1,94,...,78,1,1,1,5,3,87,82,1,1
63,2,83,3,101,98,1,95,1,1,95,...,80,1,1,1,5,3,89,83,1,1

In [48]:
def write_row_to_file(num,data):
    d_version = data.iloc[num].to_dict()
    to_write = []
    to_write.append("SynthGAN-"+str(num))
    to_write.append("color=red")
    to_write.append("ver=106")
    for i in d_version.keys():
        to_write.append(i+','+str(d_version[i]))
        
    with open("batch_"+str(batch_num)+"/"+str(num).zfill(3)+".sy1", 'w') as fo:
       for d in to_write:
         fo.write(str(d) + '\n')

In [49]:
os.makedirs("batch_"+str(batch_num),exist_ok=True)

for i in range(len(result)):
    write_row_to_file(i,result)