In [1]:
import pandas

In [2]:
df = pandas.read_csv("presets_ver106.csv")

In [3]:
df

,pack,name,color,ver,0,45,1,2,3,4,...,44,67,68,58,46,47,48,49,69,70
0,JS Hip Hop Collection,Wah Wah Guitar,green,106,3,0,1,64,81,1,...,0,1,0,1,3,5,96,64,1,0
1,JS Hip Hop Collection,Old School Lead,yellow,106,1,0,4,89,63,1,...,0,0,0,1,2,1,71,0,0,0
2,JS Hip Hop Collection,Resonant Lead,yellow,106,1,0,2,64,64,1,...,0,0,0,1,5,1,64,64,0,0
3,JS Hip Hop Collection,Hip Hop Bass 1,blue,106,1,0,2,77,83,1,...,0,0,0,1,3,5,68,0,0,0
4,JS Hip Hop Collection,Whine Lead,yellow,106,2,78,2,64,81,1,...,0,0,0,1,5,1,64,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4932,Nolwenn Ann 1,Organ 4 stab,magenta,106,0,58,3,84,78,1,...,1,0,0,0,5,1,64,64,0,0
4933,Nolwenn Ann 1,Whistle,magenta,106,0,21,3,0,0,0,...,0,0,0,0,5,1,64,64,0,0
4934,Nolwenn Ann 1,DX7 Pretty Bell,magenta,106,0,82,2,87,64,1,...,24,0,0,0,5,1,64,64,0,0
4935,Nolwenn Ann 1,OldSkool Murk Bass,red,106,1,0,2,39,66,1,...,0,0,0,0,5,1,64,64,0,0
4936,Nolwenn Ann 1,Lectro Bass,red,106,1,0,1,64,108,1,...,124,0,0,0,5,1,0,0,0,0

In [4]:
df = df.drop_duplicates()

In [5]:
df

,pack,name,color,ver,0,45,1,2,3,4,...,44,67,68,58,46,47,48,49,69,70
0,JS Hip Hop Collection,Wah Wah Guitar,green,106,3,0,1,64,81,1,...,0,1,0,1,3,5,96,64,1,0
1,JS Hip Hop Collection,Old School Lead,yellow,106,1,0,4,89,63,1,...,0,0,0,1,2,1,71,0,0,0
2,JS Hip Hop Collection,Resonant Lead,yellow,106,1,0,2,64,64,1,...,0,0,0,1,5,1,64,64,0,0
3,JS Hip Hop Collection,Hip Hop Bass 1,blue,106,1,0,2,77,83,1,...,0,0,0,1,3,5,68,0,0,0
4,JS Hip Hop Collection,Whine Lead,yellow,106,2,78,2,64,81,1,...,0,0,0,1,5,1,64,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4932,Nolwenn Ann 1,Organ 4 stab,magenta,106,0,58,3,84,78,1,...,1,0,0,0,5,1,64,64,0,0
4933,Nolwenn Ann 1,Whistle,magenta,106,0,21,3,0,0,0,...,0,0,0,0,5,1,64,64,0,0
4934,Nolwenn Ann 1,DX7 Pretty Bell,magenta,106,0,82,2,87,64,1,...,24,0,0,0,5,1,64,64,0,0
4935,Nolwenn Ann 1,OldSkool Murk Bass,red,106,1,0,2,39,66,1,...,0,0,0,0,5,1,64,64,0,0
4936,Nolwenn Ann 1,Lectro Bass,red,106,1,0,1,64,108,1,...,124,0,0,0,5,1,0,0,0,0

In [6]:
df.loc[df['ver'] < 107]["55"]

0        0
1        0
2        0
3        0
4        6
        ..
4932    54
4933     0
4934    44
4935     0
4936    66
Name: 55, Length: 4935, dtype: int64

In [44]:
df.loc[df['ver'] < 107, '55'] = 64

/home/jimmy/anaconda3/envs/ml/lib/python3.8/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [45]:
df.loc[df['ver'] <= 106]["55"]

72       64
73       64
74       64
75       64
76       64
         ..
12698    64
12699    64
12700    64
12701    64
12702    64
Name: 55, Length: 6305, dtype: int64

In [7]:
df

,pack,name,color,ver,0,45,1,2,3,4,...,44,67,68,58,46,47,48,49,69,70
0,JS Hip Hop Collection,Wah Wah Guitar,green,106,3,0,1,64,81,1,...,0,1,0,1,3,5,96,64,1,0
1,JS Hip Hop Collection,Old School Lead,yellow,106,1,0,4,89,63,1,...,0,0,0,1,2,1,71,0,0,0
2,JS Hip Hop Collection,Resonant Lead,yellow,106,1,0,2,64,64,1,...,0,0,0,1,5,1,64,64,0,0
3,JS Hip Hop Collection,Hip Hop Bass 1,blue,106,1,0,2,77,83,1,...,0,0,0,1,3,5,68,0,0,0
4,JS Hip Hop Collection,Whine Lead,yellow,106,2,78,2,64,81,1,...,0,0,0,1,5,1,64,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4932,Nolwenn Ann 1,Organ 4 stab,magenta,106,0,58,3,84,78,1,...,1,0,0,0,5,1,64,64,0,0
4933,Nolwenn Ann 1,Whistle,magenta,106,0,21,3,0,0,0,...,0,0,0,0,5,1,64,64,0,0
4934,Nolwenn Ann 1,DX7 Pretty Bell,magenta,106,0,82,2,87,64,1,...,24,0,0,0,5,1,64,64,0,0
4935,Nolwenn Ann 1,OldSkool Murk Bass,red,106,1,0,2,39,66,1,...,0,0,0,0,5,1,64,64,0,0
4936,Nolwenn Ann 1,Lectro Bass,red,106,1,0,1,64,108,1,...,124,0,0,0,5,1,0,0,0,0

In [8]:
df = df.drop(columns=["pack","name","color","ver"])

In [9]:
df

,0,45,1,2,3,4,5,6,7,8,...,44,67,68,58,46,47,48,49,69,70
0,3,0,1,64,81,1,64,0,0,66,...,0,1,0,1,3,5,96,64,1,0
1,1,0,4,89,63,1,0,0,0,64,...,0,0,0,1,2,1,71,0,0,0
2,1,0,2,64,64,1,0,0,0,90,...,0,0,0,1,5,1,64,64,0,0
3,1,0,2,77,83,1,18,1,1,57,...,0,0,0,1,3,5,68,0,0,0
4,2,78,2,64,81,1,64,1,1,32,...,0,0,0,1,5,1,64,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4932,0,58,3,84,78,1,61,0,0,64,...,1,0,0,0,5,1,64,64,0,0
4933,0,21,3,0,0,0,0,0,0,127,...,0,0,0,0,5,1,64,64,0,0
4934,0,82,2,87,64,1,0,0,0,57,...,24,0,0,0,5,1,64,64,0,0
4935,1,0,2,39,66,1,64,0,0,60,...,0,0,0,0,5,1,64,64,0,0
4936,1,0,1,64,108,1,61,0,0,60,...,124,0,0,0,5,1,0,0,0,0

In [61]:
df = df.drop_duplicates()

In [62]:
df

,0,45,1,2,3,4,5,6,7,8,...,44,67,68,58,46,47,48,49,69,70
0,3,0,1,64,81,1,64,0,0,66,...,0,1,0,1,3,5,96,64,1,0
1,1,0,4,89,63,1,0,0,0,64,...,0,0,0,1,2,1,71,0,0,0
2,1,0,2,64,64,1,0,0,0,90,...,0,0,0,1,5,1,64,64,0,0
3,1,0,2,77,83,1,18,1,1,57,...,0,0,0,1,3,5,68,0,0,0
4,2,78,2,64,81,1,64,1,1,32,...,0,0,0,1,5,1,64,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4806,3,78,3,72,64,1,0,0,0,27,...,0,0,0,0,0,1,0,0,0,0
4807,2,0,2,39,64,1,23,0,1,6,...,15,0,0,1,3,1,45,9,0,0
4808,3,54,3,97,65,1,45,0,0,93,...,0,0,0,1,4,1,72,0,0,0
4809,2,0,3,94,66,1,0,0,0,55,...,0,0,0,0,0,1,0,0,0,0
4810,1,0,3,102,72,1,127,0,0,0,...,0,0,0,1,2,1,26,0,0,0

In [52]:
df.to_csv("clean_1.csv",index=False)

In [65]:
df_norm = 2*((df - df.min()) / (df.max() - df.min()))-1

In [32]:
df_norm = (df-df.mean())/df.std()

In [76]:
df_norm

,0,45,1,2,3,4,5,6,7,8,...,44,67,68,58,46,47,48,49,69,70
0,1.000000,-1.000000,-1.000000,-0.051852,0.275591,1.0,0.007874,-1.0,-1.0,0.039370,...,-1.00000,1.0,-1.0,1.0,0.000000,1.0,0.511811,0.007874,1.0,-1.0
1,-0.333333,-1.000000,1.000000,0.318519,-0.007874,1.0,-1.000000,-1.0,-1.0,0.007874,...,-1.00000,-1.0,-1.0,1.0,-0.333333,-0.6,0.118110,-1.000000,-1.0,-1.0
2,-0.333333,-1.000000,-0.333333,-0.051852,0.007874,1.0,-1.000000,-1.0,-1.0,0.417323,...,-1.00000,-1.0,-1.0,1.0,0.666667,-0.6,0.007874,0.007874,-1.0,-1.0
3,-0.333333,-1.000000,-0.333333,0.140741,0.307087,1.0,-0.716535,1.0,1.0,-0.102362,...,-1.00000,-1.0,-1.0,1.0,0.000000,1.0,0.070866,-1.000000,-1.0,-1.0
4,0.333333,0.228346,-0.333333,-0.051852,0.275591,1.0,0.007874,1.0,1.0,-0.496063,...,-1.00000,-1.0,-1.0,1.0,0.666667,-0.6,0.007874,-1.000000,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4806,1.000000,0.228346,0.333333,0.066667,0.007874,1.0,-1.000000,-1.0,-1.0,-0.574803,...,-1.00000,-1.0,-1.0,-1.0,-1.000000,-0.6,-1.000000,-1.000000,-1.0,-1.0
4807,0.333333,-1.000000,-0.333333,-0.422222,0.007874,1.0,-0.637795,-1.0,1.0,-0.905512,...,-0.76378,-1.0,-1.0,1.0,0.000000,-0.6,-0.291339,-0.858268,-1.0,-1.0
4808,1.000000,-0.149606,0.333333,0.437037,0.023622,1.0,-0.291339,-1.0,-1.0,0.464567,...,-1.00000,-1.0,-1.0,1.0,0.333333,-0.6,0.133858,-1.000000,-1.0,-1.0
4809,0.333333,-1.000000,0.333333,0.392593,0.039370,1.0,-1.000000,-1.0,-1.0,-0.133858,...,-1.00000,-1.0,-1.0,-1.0,-1.000000,-0.6,-1.000000,-1.000000,-1.0,-1.0
4810,-0.333333,-1.000000,0.333333,0.511111,0.133858,1.0,1.000000,-1.0,-1.0,-1.000000,...,-1.00000,-1.0,-1.0,1.0,-0.333333,-0.6,-0.590551,-1.000000,-1.0,-1.0

In [78]:
df_norm.to_csv("presets_ver106_norm_minmax.csv",index=False)

In [72]:
u_norm = (((df_norm+1)*(df.max()-df.min())+df.min())/2).astype(int) #normalized_value * (max(x) - min(x)) + min(x)

In [ ]:
u_norm = (df_norm*(df.std())+df.mean()).astype(int)

In [79]:
df

,0,45,1,2,3,4,5,6,7,8,...,44,67,68,58,46,47,48,49,69,70
0,3,0,1,64,81,1,64,0,0,66,...,0,1,0,1,3,5,96,64,1,0
1,1,0,4,89,63,1,0,0,0,64,...,0,0,0,1,2,1,71,0,0,0
2,1,0,2,64,64,1,0,0,0,90,...,0,0,0,1,5,1,64,64,0,0
3,1,0,2,77,83,1,18,1,1,57,...,0,0,0,1,3,5,68,0,0,0
4,2,78,2,64,81,1,64,1,1,32,...,0,0,0,1,5,1,64,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4806,3,78,3,72,64,1,0,0,0,27,...,0,0,0,0,0,1,0,0,0,0
4807,2,0,2,39,64,1,23,0,1,6,...,15,0,0,1,3,1,45,9,0,0
4808,3,54,3,97,65,1,45,0,0,93,...,0,0,0,1,4,1,72,0,0,0
4809,2,0,3,94,66,1,0,0,0,55,...,0,0,0,0,0,1,0,0,0,0
4810,1,0,3,102,72,1,127,0,0,0,...,0,0,0,1,2,1,26,0,0,0

In [80]:
u_norm

,0,45,1,2,3,4,5,6,7,8,...,44,67,68,58,46,47,48,49,69,70
0,3,0,0,64,81,1,64,0,0,66,...,0,1,0,1,3,5,96,64,1,0
1,1,0,3,89,63,1,0,0,0,64,...,0,0,0,1,2,1,71,0,0,0
2,1,0,1,64,64,1,0,0,0,90,...,0,0,0,1,5,1,64,64,0,0
3,1,0,1,77,83,1,17,1,1,57,...,0,0,0,1,3,5,68,0,0,0
4,2,78,1,64,81,1,64,1,1,32,...,0,0,0,1,5,1,64,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4806,3,78,2,72,64,1,0,0,0,27,...,0,0,0,0,0,1,0,0,0,0
4807,2,0,1,38,64,1,23,0,1,6,...,15,0,0,1,3,1,45,8,0,0
4808,3,54,2,97,65,1,45,0,0,93,...,0,0,0,1,4,1,72,0,0,0
4809,2,0,2,94,66,1,0,0,0,55,...,0,0,0,0,0,1,0,0,0,0
4810,1,0,2,102,72,1,127,0,0,0,...,0,0,0,1,2,1,25,0,0,0

In [ ]:
test = pandas.read_csv("./gan_code/out/200.csv")

In [ ]:
test

In [ ]:
test.columns = list(df.columns)

In [ ]:
test

In [ ]:
bro = (test*(df.std())+df.mean()).astype(int)

In [ ]:
bro

In [ ]:
bro.to_csv("test_patches.csv",index=False)